#sobre-mim {
  article {
    grid-column: 2/4;
  }

  img {
    display: block;
    object-fit: cover;
    object-position: bottom;

    grid-row: 1;

    margin-top: 2rem;

    width: 100%;
    aspect-ratio: 1;
  }

  @media screen and (min-width: 40rem) {
    img {
      margin-top: 0;
      height: 100%;
      aspect-ratio: 0;
      object-position: center;
    }
  }
}
